$gray20: #f3f2f1;
$gray10: #faf9f8;
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl {
  margin: 0;
  padding: 0;
}

body {
  background-color: $gray20;
}

.gelp-home-list .ms-DocumentCard {
  max-width: unset;
  width: 100%;
}

.gelp-course-list {
  div[class^=TitledList_gelp-titled-list__body] > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
